body{
  background-color: black;
}
.rect{
  height: 90%;
  width: 90%;
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  position: flex;
  border-radius: 10px;
}
.column {
    float: left;
    border-right: 1px solid black;
    width: 24.8%;
    height: 100%;
    text-align: center;
    }
.right{
  border-right: none;
}


 

